body{
    background: url(/images/back2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    }
h1{
    font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 30px;
  color: red;
  transition-property: transform , font-size;
  transition-duration: 2s;
}
h1:hover{
  font-size: 57px;
  transform: translateX(30px);
}
.dropbtn {
    background-color:gray;
    color:brown;
    padding: 13px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover a {
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: .5em;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color:darkred
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: black;
  }
  .scale,.translateY,.skew,.threeD,.translateX,.rotate,.hover{
    transition-delay: 0.01s;
    transition-duration: 2s;
    transition-timing-function: ease-out;
  }
  .threeD:hover{
    transform: rotate3d(5, 5, 5, 360deg);
}
.translateY:hover{
    transform: translateY(50px);
}